.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Puedes ajustar el valor según sea necesario */
}

.container-pag {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
  }
  
  .container-btn {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .container-btn li {
    margin: 0 3px; /* Ajusta el espaciado entre los botones */
  }
  
  .btn-pag {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .btn-pag li{
    padding: 5px;
  }
  
  .btn-pag:hover {
    background-color: #ccc;
  }
  