/* styles.css */
.margin-right-1 {
    margin-right: 1rem; /* Ajusta el valor según el espaciado deseado */
  }
  
  .margin-right-2 {
    margin-right: 2rem; /* Ajusta el valor según el espaciado deseado */
  }

  /* styles.css */
.right-align {
    margin-left: auto;
  }

  .logo {
    width: 150px; /* Ancho deseado */
    height: auto; /* Altura ajustada automáticamente para mantener la proporción */
    /* Otros estilos personalizados para el logo */
  }
  
  